.quesTitle{
   height: 30px;
   width: 300px;
}
.min,.max{
   height: 30px;
   width: 50px;
}
 .place
 {
   height: 30px;
   width: 200px;
 }
 .textArea{
   height: 30px;
   width: 260px;
 }
 .options{
   height: px;
   width: 40px;
    border: none;
 }